<html>

<head>
    <title>welcome to {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/css/style.css">
    <!--Pulling Awesome Font -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="myDIV" class="header">
        <h1>Sign In</h1>
    </div>
<center>
  <div class="wrapper">
    <form class="form-signin" action="/login" method="post">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>  <br> 
        {% if err %}
        <label>{{err}} </label>
        {% endif%}
    </form>
  </div>
</center>

</body>

</html>
